<section class="ui raised segment">
    <div class="ui grid">
        <aside class="six wide column">
            <img src="images/poi.jpg" class="ui medium image">
        </aside>
        <article class="eight wide column">
            <table class="ui celled table segment">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Created by</th>
                </tr>
                </thead>
                <tbody>
                {{#each poi}}
                    <tr>
                        <td> {{name}} </td>
                        <td> {{location}} </td>
                        <td> {{creator.firstName}} {{creator.lastName}} </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </article>
    </div>
</section>