<nav class="ui inverted menu">
    <header class="header item"> <a href="/"> Points of Interest </a> </header>
    <div class="right menu">
        <a class="item" href="/home"> Add a POI</a>
        <a class="active item" href="/locations">  Locations</a>
        <a class="item" href="/logout">  Logout</a>
    </div>
</nav>

{{> poilist }}